@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme="dark"] {
  --base: 212 18% 14%;
  --base-content: 220 13% 69%;
  --tw-bg-opacity: 1;
  --primary: 262 80% 50%;
  --primary-content: 0 0% 100%;
}

[data-theme="light"] {
  --base: 0 0% 100%;
  --base-content: 215 28% 17%;
  --tw-bg-opacity: 1;
  --primary: 259 94% 51%;
  --primary-content: 259 96% 91%;
}

:root,
[data-theme] {
  background-color: hsl(var(--base) / var(--tw-bg-opacity, 1));
  color: hsl(var(--base-content) / var(--tw-text-opacity, 1));
}

@layer components {
  .btn {
    @apply font-semibold no-underline gap-2;
    @apply inline-flex flex-shrink-0 cursor-pointer select-none flex-wrap items-center justify-center border-transparent text-center transition duration-200 ease-in-out rounded-md;
    @apply h-12 px-4 text-sm;
    @apply border-primary bg-primary text-primary-content outline-primary;
  }
}

body,
html {
  height: 100%;
  margin: 0;
}

#__next,
#root {
  height: 100%;
}
